<h1>Property Listings</h1>

<% unless @listings.any? -%>
  <p>
    You don't have any listings. 
	  Want to <%= link_to 'start one', new_property_listing_path %>?
  </p>

<% else -%>

<table style="width: 75%;">
  <tr>
    <th>Player</th>
    <th>Current Question</th>
    <th>Last Played</th>
	  <th>&nbsp;</th>
  </tr>
<% for listing in @listings -%>
  <tr>
    <td>
      <strong><%= h listing.id %></strong>
    </td>
    <td>
      <strong><%= h listing.state %></strong>
    </td>
  	<td>
  	  <%= time_ago_in_words(listing.updated_at) %> ago
  	</td>
    <td>
      <%= link_to 'Continue Where You Left Off...', edit_property_listing_path(listing) %>
    </td>
  </tr>
<% end -%>
</table>

<br />

<%= link_to 'Take the listing!', new_property_listing_path %>

<% end -%>