<!-- <label for="real_estate_value"><%= property_form.text %></label> 
<%= select :real_estate, :value, 
{"Yes" => "true", "No" => "false"},
:prompt => "Select a payment method"  %> 
 -->
<table align="center" bgcolor="#ff7500" border="0" cellpadding="0" cellspacing="8">
  <tbody><tr>
    <td bgcolor="#ff7500" valign="top" width="712"><table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td align="left" height="14" valign="top"><img src="/images/roundcorner_topleft.gif" border="0" height="14" width="11"></td>
        <td align="right" height="14" valign="top"><img src="/images/roundcorner_topright.gif" border="0" height="14" width="11"></td>
      </tr>
      <tr>
        <td colspan="2" valign="top" width="712"><table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr>
            <td class="big2" width="50%">ENTER CONTACT AND LOCATION INFO</td>
            <td align="right"><img src="/images/easy_1sml_hi.gif" hspace="3"><img src="/images/easy_2sml.gif" hspace="3"><img src="/images/easy_3sml.gif" hspace="3"><img src="/images/easy_4sml.gif" hspace="3"><img src="/images/easy_5sml.gif" hspace="3"><img src="/images/easy_6sml.gif" hspace="3">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" class="big2"><img src="/images/rule_dot_orange_680.gif" height="2" vspace="8" width="680"></td>
            </tr>
        </tbody></table>
          </td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><table border="0" cellpadding="7" cellspacing="0" width="100%">
          <tbody><tr>
            <td>
              <table bgcolor="#ffffff" border="0" cellpadding="5" cellspacing="1" width="100%">
                <tbody><tr valign="middle">
                  <td colspan="2" align="center" height="35"><div align="left"><strong>Contact Information</strong></div>
                      <hr align="left" color="#cccccc" size="1" width="99%">
                  </td>
                </tr>
                <tr valign="middle">
                  <td align="center" height="35" width="150"><div align="left">Name</div></td>
                  <td height="35"><div align="left">
							<%= text_field :real_estate, :contact_name,   :size => "30", :maxlength => "100"%> 
	                  </div></td>
                </tr>
                <tr valign="middle">
                  <td align="center" height="35"><div align="left">Phone </div></td>
                  <td height="35"><div align="left">
							<%= text_field :real_estate, :contact_phone,   :size => "30", :maxlength => "30"%> 
                  </div></td>
                </tr>
                <tr valign="middle">
                  <td align="center" height="35"><div align="left">Email address <img src="/images/icons/req_tri.gif"></div></td>
                  <td height="35"><div align="left">
							<%= text_field :real_estate, :contact_email,   :size => "30", :maxlength => "100"%> 
							    [checkbox]<%= check_box("real_estate", "anonymous") %>
                    make anonymous </div></td>
                </tr>
                <tr valign="middle">
                  <td align="center" height="35"><div align="left">Company </div></td>
                  <td height="35"><div align="left">
							<%= text_field :real_estate, :contact_company,   :size => "30", :maxlength => "100" %> 
                  </div></td>
                </tr>
              </tbody></table>
              <br>
              <table bgcolor="#ffffff" border="0" cellpadding="5" cellspacing="1" width="100%">
                <tbody><tr valign="middle">
                  <td colspan="3" align="center" height="35"><div align="left"><strong>Category and Item Location<br>
                      </strong>
                          <hr align="left" color="#cccccc" size="1" width="99%">
                  </div></td>
                </tr>
                <tr valign="middle">
                  <td align="center" height="35"><div align="left">Category <img src="/images/icons/req_tri.gif"></div></td>
                  <td colspan="2" height="35">
							<%= select :real_estate, :category, 
							 %w{ Residential Commercial } ,
							:prompt => "Select a real estate category" %> 
                  </td>
                </tr>
                <tr id="street_row" valign="middle">
                  <td align="center" height="35"><div align="left">Street <img src="/images/icons/req_tri.gif"></div></td>
                  <td colspan="2" height="35">
							<%= text_field :real_estate, :contact_street,   :size => "30", :maxlength => "30" %> 
							    [checkbox]<%= check_box("real_estate", "include_map") %>
                    include map
						</td>
                </tr>
                <tr valign="middle">
                  <td align="center" height="35" width="150"><div align="left">City <img src="/images/icons/req_tri.gif"></div></td>
                  <td colspan="2" height="35"><div align="left">
							<%= text_field :real_estate, :contact_city,   :size => "30", :maxlength => "50" %> 
                  </div></td>
                </tr>
                <tr valign="middle">
                  <td align="center" height="35"><div align="left">State <img src="/images/icons/req_tri.gif"></div></td>
                  <td colspan="2" height="35">Utah
                  </td>
                </tr>
                <tr id="zip_row" valign="middle">
                  <td align="center" height="35"><div align="left">Zip code <img src="/images/icons/req_tri.gif"></div></td>
                  <td colspan="2" height="35">
							<%= text_field :real_estate, :contact_zip_code,   :size => "5", :maxlength => "5" %> 
						</td>
                </tr>
                <tr valign="middle">
                  <td align="center" height="35" width="150"><div align="left">Metro area <img src="/images/icons/req_tri.gif" width="8" height="8" alt="Req Tri"></div></td>
                  <td height="35">
							<%= select :real_estate, :contact_metro, 
							 %w{ Logan Ogden-Clearfield Provo Salt_Lake_City St._George } ,
							:prompt => "Select Metro Area" %> 
						</td>
                  <td><font color="#666666" size="-2">This is where your 
                    post will appear in craigslist</font></td>
                </tr>
                                <tr valign="bottom">
                  <td align="center" height="35"><div align="left"></div></td>
                  <td colspan="2" height="35">
							    <%= check_box("real_estate", "prepop_post") %>
                    Fill out this form with my account info next time</td>
                </tr>
                                <tr valign="top">
                  <td valign="top"><font color="#ff6600" class="strong">required</font> <img src="/images/icons/req_tri.gif"></td>
                  <td colspan="2" valign="top">&nbsp;</td>
                </tr>
              </tbody></table>
              </td>
          </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td align="left" height="14" valign="bottom"><img src="/images/roundcorner_btmleft.gif" valign="bottom" height="14" width="11"></td>
        <td align="right" height="14" valign="bottom"><img src="/images/roundcorner_btmright.gif" valign="bottom" height="14" width="11"></td>
      </tr>
    </tbody></table></td>
  </tr>
</tbody></table>
